<% workforce_config = @project.workforce_config || @project.build_workforce_config %>
<%= form_for workforce_config, url: workforce_project_configuration_path do |f| %>
  <div class="box tabular">
    <%= f.hidden_field :id %>
    <%= f.hidden_field :project_id %>
    <p>
      <%= content_tag(:label, l(:workforce_project_api_key)) %>
      <%= f.text_field :api_key  %>
    </p>
    <p>
      <%= content_tag(:label, l(:workforce_project_type)) %>
      <%= f.select :project_type, WorkforceConfiguration.project_types.map { |key, value| [key.humanize, key] }.to_a %>
    </p>
  </div>
  <%= f.submit "Save" %>
<% end %>
