<% workforce_config = @project.workforce_config || @project.build_workforce_config %>
<%= form_for workforce_config do |f| %>
  <fieldset class="box tabular"><legend><%=l(:workforce_general_settings)%></legend>
    <%= f.hidden_field :project_id %>
    <p>
      <%= content_tag(:label, l(:workforce_project_api_key)) %>
      <%= f.text_area :api_key, :rows => 4  %>
    </p>
    <p>
      <%= content_tag(:label, l(:workforce_project_group_id)) %>
      <%= f.text_field :group_id  %>
    </p>
    <p>
      <%= content_tag(:label, l(:workforce_project_type)) %>
      <%= f.select :project_type, WorkforceConfiguration.project_types.map { |key, value| [key.humanize, key] }.to_a %>
    </p>
    <p>
      <%= content_tag(:label, l(:workforce_project_enable)) %>
      <%= f.check_box :is_enabled  %>
    </p>
  </fieldset>
  <fieldset class="box tabular" id="wf_issue_fields"><legend><%=l(:workforce_notifiable_issue_fields)%></legend>
    <% Workforce::ISSUE_MANDATORY_ATTRIBUTES.each do |attribute| %>
      <label class="floating">
        <%= check_box_tag 'workforce_configuration[issue_notifiable_columns][issue_fields][]', attribute, true, disabled: true, id: nil %>
        <%= Issue.human_attribute_name(attribute) %>
      </label>
    <% end %>
    <% Workforce::ISSUE_SUPPORTED_ATTRIBUTES.each do |attribute| %>
      <label class="floating">
        <%= check_box_tag 'workforce_configuration[issue_notifiable_columns][issue_fields][]', attribute, (workforce_config.notifiable_issue_fields.include? attribute), id: nil %>
        <%= Issue.human_attribute_name(attribute) %>
      </label>
    <% end %>
    <%= hidden_field_tag 'workforce_configuration[issue_notifiable_columns][issue_fields][]', "" %>
  </fieldset>
  <% issue_custom_fields = @project.all_issue_custom_fields %>
  <% unless issue_custom_fields.empty? %>
    <fieldset class="box tabular" id="wf_issue_custom_fields"><legend><%=l(:workforce_notifiable_custom_fields)%></legend>
      <% issue_custom_fields.each do |custom_field| %>
        <% next unless custom_field.workforce_supported_field? %>
        <label class="floating">
          <%= check_box_tag 'workforce_configuration[issue_notifiable_columns][custom_field_ids][]', custom_field.id, (workforce_config.notifiable_custom_field_ids.include? custom_field.id), id: nil %>
          <%= custom_field_name_tag(custom_field) %>
        </label>
      <% end %>
    </fieldset>
    <%= hidden_field_tag 'workforce_configuration[issue_notifiable_columns][custom_field_ids][]', '' %>
  <% end %>
  <%= f.submit "Save" %>
<% end %>
